<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light shadow-sm" data-bs-theme="light">
  <div class="container">
    <NavLink class="navbar-brand" href="/">
      <img src="img/LOGO.png" alt="Bootstrap" width="auto" height="50">
    </NavLink>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <NavLink class="nav-link" Match="NavLinkMatch.All" aria-current="page" href="/">Accueil</NavLink>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" Match="NavLinkMatch.Prefix" href="/list">Liste des employés</NavLink>
        </li>
        <li class="nav-item dropdown">
          <NavLink class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </NavLink>
          <ul class="dropdown-menu">
            <li><NavLink class="dropdown-item" href="/editEmployee">Ajouter un employé</NavLink></li>
            <li><NavLink class="dropdown-item" href="/about">A Propos de Nous</NavLink></li>
            <li><hr class="dropdown-divider"></li>
            <li><NavLink class="dropdown-item" href="#">Ajouter un adminstrateur</NavLink></li>
          </ul>
        </li>
       
      </ul>
     
    </div>
  </div>
</nav>
