@page "/About"

<h3>About us</h3>
<p>This is an about page</p>
<p>Hi there! This is a sample Blazor app that shows how to use the <a href="https://github.com/BlazorExtensions/Storage">Blazor.Extensions.Storage</a> library to persist data to local storage.</p>

