@page "/parent-child"
@rendermode InteractiveServer


<PageTitle>Event Handler with custom Event</PageTitle>

<h1>Parent Child comuunication with event handler</h1>



<Child OnGetEmployeesList="@HandleGetEmployees" />

<div class="bg-white p-5 lead">
    <code >
   
    
        @foreach (var student in students){
            <p>@student.Name </p>
        }

</code>
</div>



@code {
    private List<Child.Student>? students;

    protected override void OnInitialized(){
        students = new List<Child.Student>{
            new Child.Student{Name="John", Email="j@j.com"},
        
        };
    }

    private void HandleGetEmployees(List<Child.Student> list){
        students = list;
    }
}