@page "/js-demo"
@inject IJSRuntime JS
@rendermode InteractiveServer
@inject IToastService toastService

<PageTitle>JS Collocation 1</PageTitle>

<div class="container">
    <h1>JS Collocation Example 1</h1>
    
    <button @onclick="ShowPrompt">Call showPrompt1</button>
    
    @if (!string.IsNullOrEmpty(result))
    {
        <p>
            Hello @result!
        </p>
    }
</div>

@code {
    private string? result;
    private bool showPrompt = false;

    protected override async Task OnInitializedAsync()
    {
       
            showPrompt = true;
           
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (showPrompt)
        {
            result = await JS.InvokeAsync<string>("showPrompt1", "What's your name?");
            toastService.ShowSuccess("Helle");
            showPrompt = false;
        }
    }

    public async void ShowPrompt()
    {
        await JS.InvokeAsync<string>(
            "showPrompt1", "What's your name?");
        //StateHasChanged();
    }
}